body{
    background-color: hsl(212, 45%, 89%);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 0 auto;
    width: 200px;
    background-color: hsl(0, 0%, 100%);
    align-content: center;
    box-shadow: 2px 2px 20px rgb(110, 107, 107);
  }
  
  .text {
    margin-top: 10px;
    text-align: center;
    font-weight: 700px;
    font-family: Outfit;
    font-size: 17px;
    text-align: center;
    color: hsl(218, 44%, 22%);
  }
  .para{
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-family: Outfit;
    font-weight: 400;
    padding: 5px 0 0 0;
  }
  div img{
    border-radius: 15px;
    width: 200px;
  }